<div class="flex flex-col justify-center items-center pb-24 font-bold text-black-600 text-xl w-100 space-y-4 z-50">
  <div class="flex justfy-center space-x-3">
    <a href="/" class="hover:underline hover:text-black-600">Home</a>
    <div>|</div>
    <a href="/about" class="hover:underline hover:text-black-600">About</a>
    <div>|</div>
    <a href="/posts" class="hover:underline hover:text-black-600">Blog</a>
  </div>
  <div class="font-normal text-sm">
    Made by
    <a href="{{ .Site.Params.footer.social_url }}" target="_blank" class="font-extrabold hover:underline hover:text-black-600">{{ .Site.Params.footer.social_username }}</a>
    with ❤️
  </div>
</div>
