{{ define "main"}}
<main id="main">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
        <div class="max-w-screen-sm mx-auto text-center">
            <h1 class="mb-4 font-black tracking-tight capitalize text-8xl lg:text-7xl xl:text-9xl">
                404
            </h1>
            <p class="mb-4 text-3xl font-bold tracking-tight text-gray-900 md:text-4xl">
                Ooooops, something&rsquo;s missing.
            </p>
            <p class="mb-4 text-lg font-light text-gray-500">
                Sorry, we can't find that page 🥹 You'll find lots to explore on the home page.
            </p>
            <a href="/" class="border-2 border-black-600 inline-flex text-black-600 bg-primary-600 ring-black-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">
                Back to Homepage
            </a>
        </div>
    </div>
</main>
{{ end }}
